/* Write your CSS here */
@media screen and(min-width:768px) {
    .lister {
      font-size: 20px;
      font-weight: 600;
      padding-right: 8px;
      color: #1e293b;
      padding-top: 8px;
    }
    .delete-img {
      width: 20px;
      height: 20px;
    }
  }
  